{% extends 'modelo-ifpr.html' %}

{% load static %}

{% block conteudo %}
<h3>Lista de cidades
<a href="{% url 'cadastrar-cidade' %}" class="btn btn-primary btn-sm float-right">Adicionar cidade</a>
</h3>
<hr>
<form action="?" method="GET">

    <input type="text" name="nome" id="" value="{{ request.GET.nome }}" class="p-1 border" autocomplete="off" placeholder="Nome ou parte dele">

    <button type="submit" class="btn btn-success">Buscar</button>

    <a href="{% url 'listar-estados' %}" class="btn btn-light">Limpar</a>

</form>
<hr>
<div class="table responsive">
<table class="table table-striped">
    <tr>
        <th>Nome da Cidade</th>
        <th>Estado</th>
        <th>Opções</th>

    </tr>
    {% for cidade in object_list %}
    <tr>
        <td>{{ cidade.nome_cidade }}</td>
        <td>{{ cidade.estado }}</td>
        <td>
            <a href="{% url 'editar-cidade' cidade.pk %}" class="btn btn-warning btn-sm" title="Editar">
            Editar
            </a>
            <a href="{% url 'deletar-cidade' cidade.pk %}" class="btn btn-danger btn-sm" title="Excluir">
            Excluir
            </a>
        </td>
    </tr>
    {% empty %}
        <tr>
            <td colspan="3">Nenhum campo registrado.</td>
        </tr>
    {% endfor %}

</table>

</div>
{% endblock %}