{% extends 'modelo-ifpr.html' %}

{% load static %}

{% block conteudo %}
<h3>Lista de proprietários</h3>

<a href="{% url 'cadastrar-proprietario' %}" class="btn btn-primary btn-sm">Adicionar proprietário</a>

<hr>
<div class="table responsive">
<table class="table table-striped">
    <tr>
        <th>Proprietário</th>
        <th>Logradouro</th>
        <th>Opções</th>

    </tr>
    {% for proprietario in object_list %}
    <tr>
        <td>{{ proprietario.nome_proprietario }}</td>
        <td>{{ proprietario.logradouro_proprietario.logradouro }}, {{proprietario.numero_proprietario}} {{ proprietario.logradouro_proprietario.complemento}} - {{ proprietario.logradouro_proprietario.bairro.bairro }}</td>
        <td>
            <a href="{% url 'editar-proprietario' proprietario.pk %}" class="btn btn-warning btn-sm" title="Editar">
            Editar
            </a>
            <a href="{% url 'deletar-proprietario' proprietario.pk %}" class="btn btn-danger btn-sm" title="Excluir">
            Excluir
            </a>
        </td>
    </tr>
    {% empty %}
        <tr>
            <td colspan="3">Nenhum campo registrado.</td>
        </tr>
    {% endfor %}

</table>

</div>
{% endblock %}